<?xml version="1.0"?>
<!--
/**
 * Created by qoliber
 *
 * @category    Qoliber
 * @package     Qoliber_TridentCache
 * @author      Jakub Winkler <jwinkler@qoliber.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- Full page cache flush (admin action) -->
    <event name="adminhtml_cache_flush_all">
        <observer name="trident_cache_flush_all" instance="Qoliber\TridentCache\Observer\CacheFlushObserver"/>
    </event>

    <!-- System cache flush -->
    <event name="adminhtml_cache_flush_system">
        <observer name="trident_cache_flush_system" instance="Qoliber\TridentCache\Observer\CacheFlushObserver"/>
    </event>

    <!-- Full page cache type refresh -->
    <event name="adminhtml_cache_refresh_type">
        <observer name="trident_cache_refresh_type" instance="Qoliber\TridentCache\Observer\CacheFlushObserver"/>
    </event>

    <!-- Generic model save - use Magento's cache tag resolver -->
    <event name="clean_cache_by_tags">
        <observer name="trident_cache_flush_by_tags" instance="Qoliber\TridentCache\Observer\FlushCacheByTagsObserver"/>
    </event>

</config>
