<?xml version="1.0"?>
<!--
/**
 * Created by qoliber
 *
 * @category    Qoliber
 * @package     Qoliber_TridentCache
 * @author      Jakub Winkler <jwinkler@qoliber.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Qoliber_TridentCache" setup_version="1.0.2">
        <sequence>
            <module name="Magento_Store"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Cms"/>
            <module name="Magento_Customer"/>
            <module name="Magento_PageCache"/>
        </sequence>
    </module>
</config>
